/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lobster&family=Manrope:wght@700&family=Poppins&family=Roboto:wght@100&family=Yeseva+One&display=swap');

/* Utilities */
body {
    font-family: 'Poppins', sans-serif;
}

/* Packages */
.text_color{
    color: #231D4F;
}
#hot_package{
    border-radius: 26px;
}
#hot_badge{
    top: 0;
    right: 0;
    background-color: #FF4E4E;
}